/*
 * SPDX-License-Identifier: Apache-2.0
 * Copyright (c) 2025 Alexander Kozhinov <ak.alexander.kozhinov@gmail.com>
 */

/ {
	aliases {
		compsensor = &comp1_ch1;
	};
};

&pinctrl {
	/omit-if-no-ref/ comp1_in_p_pb0: comp1_in_p_pb0 {
		pinmux = <STM32_PINMUX('B', 0, ANALOG)>;
	};

	/omit-if-no-ref/ comp1_in_p_pb2: comp1_in_p_pb2 {
		pinmux = <STM32_PINMUX('B', 2, ANALOG)>;
	};

	/omit-if-no-ref/ comp1_in_m_pc4: comp1_in_m_pc4 {
		pinmux = <STM32_PINMUX('C', 4, ANALOG)>;
	};

	/omit-if-no-ref/ comp1_out_pe12: comp1_out_pe12 {
		pinmux = <STM32_PINMUX('E', 12, AF13)>;
	};
};

/*
 * On nucleo-h745zi-q board the led0 is connected to PB0 (D33 on CN10).
 * led0 will be toggled every 3rd run of the main cycle as an GPIO thus
 * led0 will get on and off.
 * Thus the pin PB0 may be connected to PB2 (D27 on CN10) to trigger COMP1
 * state change.
 */
&comp1_ch1 {
	status = "okay";
	pinctrl-0 = <&comp1_in_p_pb2 &comp1_out_pe12>;
	pinctrl-names = "default";
	hysteresis = "NONE";
	positive-input = "IN1";
	negative-input = "1_4VREFINT";
	invert-output = "NONINVERTED";
	st,blank-sel = "NONE";
};
