# Copyright (c) 2025 Alexander Kozhinov <ak.alexander.kozhinov@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config OPAMP_SHELL
	bool "OpAmp shell"
	default y
	depends on SHELL
	help
	  OpAmp device driver shell.
